#text {
	position: static;
	right: 150px;
	text-align: center;
    top: 150px;

}

#front {
   background-image: url('black t-shirt_back.png');
   height: 70px;
   width: 120px;
}

#front:hover {
   background-image: url('black t-shirt_front.png');
    height: 70px;
    width: 120px;
}
.text_black p {
    font-family: Tangerine;
    font-size: 20px;
}
h1{
    font-family: Tangerine;
    font-size: 80px;
}
h3{
    font-family: Tangerine;
    font-size: 35px;
}
p {
    font-family: Tangerine;
    font-size: 30px;
}
a {
    font-family: Tangerine;
    font-size: 30px;
}
.box {
    width: 450px;
    height: 450px;
    gap: 39px

}
.boxes .box .figure {
    height: 416px;
}
.boxes .box .figure img {
    width: 100%;
}

.red {
    background-color: red
}
.lol_color {
    background-color: #f8d7da
}
.hover_red:hover {
    color: #999c03
}
.font_color_fuchsia {
    color: fuchsia
}
.bg_color {
    background-color: black
}
p {
    text-align: center
}