{% extends 'base.html' %}

{% block title %}
СТРАНИЦА О НАС
{% endblock %}

{% block body %}
<h1>Yandex Shop</h1>
<div class="container">
	<section>
		<hr>
		<p class="fst-italic">Яндекс Шоп (изначально Яндекс Лицей Шоп) — русский модный дом одежды, аксессуаров и других изделий класса «люкс» с головным офисом в Москве. Бренд основан в 1988 году Русским дизайнером Стаценко Даниилом (родился десятого апреля тысейча девятсот пятьдесят седьмого года).</p>
		<hr>
		<p class="fst-italic">Модный дом производит как одежду от-кутюр, изготавливаемую индивидуально, так и массово выпускаемую одежду прет-а-порте. Продукция бренда включает женскую и мужскую одежду, аксессуары, украшения, обувь, парфюмерию, а также предметы декора интерьера. Известная своими деконструктивистcким и авангардным дизайном с использованием необычных материалов</p>
	</section>
</div>

{% endblock %}